<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>燕山大学图书馆熔断机制</title>
  </head>
  <body>
    <h1>燕山大学图书馆选座系统可能发生掉线</h1>
  </body>
</html>
